@import url('http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext');
body{
    background-color: #f3281a;
    text-align: center;
    font-family: 'Quicksand',sans-serif;
}

.hero{
    width: 920px;
    height: 520px;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #4e4544;
}

span{
    color: #b4afaf;
}


.hero2{
    width: 1080px;
    height: 260px;
    background-color: #f3281a;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #f3281a;
}
nav{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 35px 0;
    align-items:center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none ;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(37, 30, 28);
}

.social{
	display: flex;
	justify-content: center;
    
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f3281a;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.main{
    background-color: #f3281a;
    margin: 0 auto;
    padding-top: 20px;
    border: 1px solid #f3281a;
}

.img{
    background-image: url(foto.jpeg);
    background-color: #f3281a;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #f3281a;
}
.img:hover{
    background-image: url(foto.jpeg);
    background-size: cover;
    border-radius: 100px;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    border: 1px solid #000000;
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: black;
}
h2{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: black;
}
h2.logo{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: white;
}
.text{
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #324e63;
}
p{
    margin:  0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324e63;
}

button{
	background-color:#b4afaf;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: lighter;
	padding: 20px 30px;
	border-radius: 15px;
	transition: .4s; 
    align-items: right;
}
button:hover{
	background-color: transparent;
	border: 2px solid #a71e14 ;
	cursor: pointer;
}

.jadwal{
	display: flex;
	align-items:center;
	font-size: 20px;
	color: black;
	text-align: center;
	justify-content: center;
}